//------------------------------------------parallax-video------------------------------------------
.parallax {
    margin-top: 100px;
    height: 850px;
    overflow: hidden;
    position: relative;
  }
  
  .parallax video {
    margin-top: 64px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

 
//content slider
.content-slider{
  margin-top: 290px;
}

.arrows {
  width: 30px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 250px;
}

.arrows path {
  stroke: #e53350;
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

.video-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.video-button-text{
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-button-icon{
  margin-left: 10px;
}


//------------------------------------------HeadingEfffect------------------------------------------
.animate-charcter{
   text-align: center;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #333 0%,
    #333 29%,
    #ccc 67%,
    #ccc 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
    font-size: 30px;
    font-weight: 600;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
//laptop
@media (min-width:1500px) and (max-width: 1600px) { 
  //praralax-video
  .parallax {
    height: 650px;
  }
  .arrows {
    bottom: 100px;
  }
 }
//ipad
 @media (min-width:768px) and (max-width: 1400px) { 
  //praralax-video
  .parallax {
    height: 280px;
  }
  .content-slider{
    margin-top: 70px;
  }
  .arrows {
    bottom: -30px;
  }
 }
//phone
 @media (max-width: 450px) { 
  //praralax-video
  .parallax {
    height: 185px;
  }
  .content-slider{
    margin-top: -14px;
  }
  .arrows{
    display: none;
  }
  .video-button{
    margin-top: 0px;
    margin-bottom: 0px;
  }
 }