.home-product-item__favorite{
  position:absolute;
  top: 1px;
  left: -4px;
  font-size: 0.9rem;
  color: red;
  background-color: currentColor;
  font-weight: 500;
  line-height: 16px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 15px  ;
  padding:4px ;
  }
  /* Cách làm style yêu thích giống shoppe */
  .home-product-item__favorite::after{
      border-left: 6px solid transparent;
      border-top: 3px solid currentColor; 
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      filter: brightness(60%);
  }
  .home-product-item__favorite span{
      color: white; 
  
  }
  .home-product-item__favorite i{
      font-size: 0.9rem;
      margin: 0 2px 0 5px;
    color: white; 
  
  }