
//heart
.largeFont {
    font-size: xxx-large;
  }
  
  .textCenter {
    text-align: center;
  }
  
  .active {
    animation: like 0.5s 1;
    fill: red;
    stroke: none;
  }
  .active{
    stroke:red;
    transition:all 0.5s;
  }
  
  @-webkit-keyframes like {
    0% { transform: scale(1); }
    90% { transform: scale(1.2); }
    100% { transform: scale(1.1); }
  }