.loader {
  position: relative;
  overflow: hidden;
  border-right: 3px solid;
  width: 0px;
  animation: typewriter 2s steps(10)  infinite alternate , blink 0.5s steps(10) infinite;
}

.loaderproductsale {
  position: relative;
  overflow: hidden;
  border-right: 3px solid;
  width: 0px;
  animation: typewriterr 2s steps(10)  infinite alternate , blink 0.5s steps(10) infinite;
}

.loader-text {
  background: linear-gradient(to right,#da4453, #89216b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes typewriterr {
  0% {
    width: 0px;
  }

  100% {
    width: 120px;
  }
}

@keyframes typewriter {
  0% {
    width: 0px;
  }

  100% {
    width: 80px;
  }
}

@keyframes blink {
  0% {
    border-right-color: rgba(255,255,255,.75);
    ;
  }

  100% {
    border-right-color: transparent;
  }
}

.slider-right{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.slider-right-animation{
  display: inline-block;
  padding-left: 100%;
  animation: move 25s linear infinite;
}
@keyframes move {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}



.pll {
  width: 50px;
  height: 50px;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {
  from, 4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%, 54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%, to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from, 12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%, 62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%, to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%, 58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from, 8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%, 50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}


.header__cart-list::after{
    content: " ";
    right: 125px;
    top: -40px;
    border-width: 20px 20px;
    position: absolute;
    border-style: solid;
    border-color: transparent transparent white transparent ;
    cursor: pointer;
    z-index:9999;
}






.nav:after,
.nav:before {
  content:"";
  display: table;
} 
.nav:after {
  clear:both;
  overflow:hidden;
}
.nav {
  zoom: 1;
}
.nav li {
  list-style: none outside none;
  float: left;
  position: relative;
}
.nav .active {
  z-index: 3;
}
.nav li:before,
.nav li:after,
.nav  a:before,
.nav  a:after {
  content:"";
  position: absolute;
  bottom:0;

}
.nav li:before,
.nav li:after {
  background: #de0024;
  width: 10px;
  height: 10px;
}
.nav li:before {
  left: -10px;
}
.nav li:after {
  right: -10px;
}
.nav a {
  float: left;
  padding: 10px 34.8px;
  text-decoration: none;
  color: #fff;
  background: #de0024;
  border-radius: 10px 10px 0 0;
}
.nav .active a {
  background: #e53350;
  color:#333;
}

.nav  a:before,
.nav  a:after {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #de0024;
  z-index: 2;
}
.nav .active a:before,
.nav .active a:after {
  background: #de0024;
}
.nav  a:before {
  left:-20px; 
}
.nav  a:after {
  right: -20px;
}
.nav .active:before,
.nav .active:after {
  z-index: 1;
  background: #e53350;
}








//-----------------------------mobile----------------------------
.mainnav {
  box-sizing: border-box;
  background: #222327;
  height:75px;
  border-radius: 14px;
}
.navigation {
  position: relative;
  width: 100%;
  height: 75px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  bottom:0;
  margin-top:10px;
}
.navigation ul {
  display: flex;
  margin-left: 14px;
  width: 350px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
  margin: 0px 6px;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
  margin-top: 22px
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: #222327;
}
.navigation ul li.active a .icon {
  transform: translateY(-24px);
}
.navigation ul li a .text {
  position: absolute;
  color: #222327;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: #e53350;
  border-radius: 50%;
  border: 6px solid #222327;
  transition: 0.5s;
  margin: 0px 6px;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 54%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 #222327;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 54%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 #222327;
}

/* Indicator Transitions */
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(-5px * 1));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(65px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(67px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(68px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(68px * 4));
}

