//-------------------------------------------- Service--------------------------------------------
.bg-service{
background-image: url("/images/bg-service.jpg");
height: 500px;
width: 100%;
background-size: cover;
background-position: center;
position: relative;
}

.bg-service::before{
    content: "";
    position: absolute;
    right: -200px;
    bottom: -80px;
    width: 250px;
    height: 381px;
    background-image: url("/images/item-bg.png");
    background-repeat: no-repeat;
    clip: rect(300px, 250px, 381px, 0);
}

.rotate-on-hover:hover .rotate-on-hover-image {
    transform: rotateY(180deg);
    transition: transform 0.5s ease;
}

//--------------------------------------------Infoproduct--------------------------------------------
.background-infoproduct{
    background-image: url("/images/item-introproduct2.png");
    width: 500px;
    height: 190px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-infoproduct2{
    background-image: url("/images/item-introproduct.png");
    width: 173px;
    height: 193px;
    right: 50%;
    bottom: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}
.video-introproduct{
  width: 1000px;
  height: 707px;
}
//--------------------------------------------Selling product--------------------------------------------
.cover-image {
    background-image: url('/images/selling-product.jpg');
    width: 100%;
    height: 638px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; // Thêm dòng này để tạo hiệu ứng parallax
}

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #fff; 
  }

  .active-slide {
    background-color: #ee9ca7;  
    margin-top: 120px;
  }


//-----------------------------------------Sponsor---------------------------------
.slider {
    display: flex;
    height: auto;
    margin: auto;
    overflow: hidden;
    align-items: center;
  }
  .slider:before {
    position: absolute;
    z-index: 1;
    left: 0;
    content: "";
    width: 23.958%;
    height: 110px;
    // background: linear-gradient(-90deg, hsla(0, 0%, 96.9%, 0), #f7f7f7);
  }
  
  .slider:after {
    position: absolute;
    right: 0;
    content: "";
    width: 23.958%;
    height: 110px;
    // background: linear-gradient(
    //   90deg,
    //   hsla(0, 0%, 96.9%, 0),
    //   hsla(0, 0%, 96.9%, 0.99) 99%
    // );
  }
  .slider .slide-track {
    display: flex;
    animation: scroll 35s linear infinite;
    -webkit-animation: scroll 35s linear infinite;
    width: calc(240px * 10);
  }
  .slider .slide {
    cursor: pointer;
    width: 180px;
    height: auto;
    padding: 10px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider .slide img {
    height: 80px;
    width: 120px;
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  
    100% {
      -webkit-transform: translateX(calc(-240px * 5));
      transform: translateX(calc(-240px * 5));
    }
  }


// ------------------------------------BuyProduct--------------------------------
.buyproduct-image {
    width: 100%;
    height: 450px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

.buyproduct-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/images/bg-footer.jpg") center center no-repeat;
    background-size: cover;
    filter: blur(2px); 
}


//Hiệu ứng nảy nảy 
.arrow {
  text-align: center;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-15px);
  }
}


//laptop
@media (min-width:1500px) and (max-width: 1600px) { 
  //serrvice
  .bg-service::before{
    right: -100px;
  }
  //introporduct
  .background-infoproduct2{
    bottom: 10px;
  }
  .video-introproduct{
    width: 900px;
  }
  
 }
//ipad
@media (min-width:768px) and (max-width: 1400px) { 
  //service
  .bg-service::before{
    right: 0px;
}
  //introproduct
  .background-infoproduct2{
   display: none; 
  }
  .video-introproduct{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
}
//phone
 @media (max-width: 450px) { 
 //service
 .bg-service::before{
  right: 0px;
}
  .bg-service{
  height: 100%;
  }
  //infoproduct
  .background-infoproduct{
    display: none;
  }
  .background-infoproduct2{
    display: none;
  }
  .video-introproduct{
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}