
.scroll {
	width: 50px;
	height: 50px;
	border: 2px solid #333;
	border-radius: 50%;
	position: relative;
	animation: down 2s infinite;
	-webkit-animation: down 2s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 18px;
		left: 14px;
		width: 18px;
		height: 18px;
		border-top: 2px solid #333;
        border-right: 2px solid #333;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}
